<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.example.advertpal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".features.details.DetailsActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".features.works.WorksActivity" />
        </activity>

        <activity android:name=".features.works.WorksActivity"
                android:label="Текущие публикации"/>
        <activity
                android:name=".features.groups.GroupsActivity"
                android:label="Выберите группу" />
        <activity
                android:name=".ui.AddWorkActivity"
                android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".features.groups.GroupsActivity" />
        </activity>
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
                android:name=".utils.NetworkStateChangeReceiver"
                android:exported="false">
            <intent-filter>
                <action
                        android:name="android.net.conn.CONNECTIVITY_CHANGE"
                        tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>
    </application>

</manifest>